.columnsContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: var(--column-gap);
}

.columnTitle {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.leftColumn>div:last-child, 
.middleColumn>div:last-child,
.rightColumn>div:last-child {
text-decoration: underline;
font-size: 1.1rem;
font-weight: 600;

}