.container {  
}

.columnsContainer {
  display: flex;
  justify-content: space-between;
}

.columnTitle {
  font-weight: bold;
}

.column1>div,
.column2>div,
.column3>div,
.column4>div {
  margin-bottom: 1rem;
}

@media (max-width: 880px) {
  .columnsContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* border: solid 1px magenta; */
  }
}