.container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.leftLarge>span {
  font-size: 2rem;
}

.leftSmall>span {
  font-size: 1rem;
}

.right>.title {
  font-weight: bold;
}

.right>.details {
  font-weight: 100;
  color: var(--subfont-color);
}

.right>.title2 {
  /* font-weight: bold; */
}