.placeDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.placeDetailsRight,
.placeDetailsLeft {
  display: flex;
  gap: var(--horizontal-gap);
}


.placeDetailsRight>button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  gap: var(--icon-word-gap);
  margin:0;
  padding:0;

}

.star {
  color: var(--secondary-accent);
}

.rating {
  display: flex;
}

@media (max-width: 725px) {
  body {
    /* border: solid 2px red; */
  }

  .dots {
    display: none;
  }
  .placeDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
  }

  .placeName {
    text-align: center;
    font-size: 2rem;
    margin:0;
    padding:0;

    width: 90vw;
  }

}